# ls /dev/tty*
# set the udev rule
#udevadm info -a -n /dev/ttyXXX | grep -E "idVendor|idProduct"

# use for ecat
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d2", SYMLINK+="usbReferee", MODE="0666"
