# ls /dev/tty*
# set the udev rule
# use for ecat
ACTION=="add", SUBSYSTEM=="tty", KERNEL=="ttyACM*", SYMLINK+="usbReferee", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
